.upload-container {
  height: 45vh;
  width: 25vw;
}

.upload-form {
  /* border: 1px red solid; */
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
}

.upload-form div {
  padding: 4px 0;
  width: 100%;
  height: 100%;
}

.upload-form div label {
  display: block;
}

.upload-form div input {
  width: 100%;
  padding: 8px;
}

.upload-form div textarea {
  width: 100%;
  padding: 8px;
  resize: none;
}

.upload-form button {
  width: 100%;
  margin-top: 10px;
  padding: 6px;
  background: #325288;
  border: none;
  color: #fcf8f4;
  border-radius: 3px;
}

.upload-form button:hover {
  box-shadow: 0 0 5px rgba(35, 173, 278, 1);
  cursor: pointer;
}

.publish-button {
  padding: 6px;
  background: #325288;
  border: none;
  color: #fcf8f4;
  border-radius: 3px;
}

.publish-button:hover {
  box-shadow: 0 0 5px rgba(35, 173, 278, 1);
  cursor: pointer;
}
