.nav-container {
  height: 10vh;
  background: #325288;
}

.nav-components {
  height: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a,
.nav-profile a {
  padding: 16px;
  text-decoration: none;
  color: #fcf8f4;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.nav-profile input {
  padding: 6px;
  border-radius: 3px;
  border: none;
}

.profile-icon {
  display: inline-block;
  margin-left: 16px;
  font-size: 24px;
}
