.nav-container {
  height: 10vh;
  background: #325288;
}

.nav-components {
  height: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a,
.nav-profile a {
  padding: 16px;
  text-decoration: none;
  color: #fcf8f4;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.nav-profile input {
  padding: 6px;
  border-radius: 3px;
  border: none;
}

.profile-icon {
  display: inline-block;
  margin-left: 16px;
  font-size: 24px;
}

.profile-icon i {
  color: #fcf8f4;
}

/* Logout Button */

.logout-btn {
  border: none;
  border-radius: 3px;
  margin-left: 16px;
  padding: 4px 10px;
  text-align: center;
  cursor: pointer;
  background: #fcf8f4;
  color: #325288;
}

.logout-btn:hover {
  box-shadow: 0 0 5px rgba(35, 173, 278, 1);
}
