.nav-container {
  height: 10vh;
  background: #325288;
}

.nav-components {
  height: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link a,
.nav-profile a {
  padding-right: 20px;
  text-decoration: none;
  color: #f4eee8;
}
